.card-body_movie {
    padding: 10px 0 25px !important; 
    /* max-height: none;
    height: auto;
    min-height: 200px;  */
}
.card_movie_img {
    height: 310px;
    border: 6px solid #000;
}
.card-body_title {
    font-weight: bold !important;
}
.card-text_component {
    margin: 0;
    font-size: 14px;
}
.card-text_component > span {
    font-weight: bold;
}
.card_container {
    border: none !important;
}
.search_movie {
    margin: 20px 0 !important;
    padding: 20px 0;
    border-bottom: 2px solid #000;
}
.movie_title {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}
.movie_title:hover {
    opacity: 0.8;
}
.movie_detail {
    padding-left: 5px;
}
.movie_like {
    padding-right: 5px;
}
.movie_detail_link {
    text-decoration: none;
    color: #fff;
}
.table_movie_detail > td {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    border: 0;
}
 