.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.show-seat {
  text-align: center;
}

.row {
  margin-bottom: 10px;
}

.row-label {
  font-weight: bold;
}

.seat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seat {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ccc;
  font-weight: bold;
  position: relative;
}

.seat.unavailable {
  text-decoration: line-through;
  pointer-events: none;
  cursor: not-allowed;
  transform: translateY(48%);
  background-color: #ccc !important;
}

.seat.unavailable::before,
.seat.unavailable::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  top: 50%;
  left: 0;
}

.seat.unavailable::before {
  transform: rotate(45deg);
}

.seat.unavailable::after {
  transform: rotate(-45deg);
}




.movie-select-img {
  width: 100%;
  height: 450px;
  background-size: cover;
}






